body {
  font-family: Inter;
}

.image-container {
  width: 113px;
  height: 113px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .placeholder {
    background-color: #C3CBD5;
  }

  .img {
    max-width: auto;
    max-height: auto;
    object-fit: cover;
  }
}

.avatar-uploader-container {
  height: 109px;
  width: 485px;
  border-radius: 8px;
  background-color: #F2F5F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 32px;
  gap: 32px;

  &.bordered {
    border: 2px dashed #C7CDD3;
  }
}

.dropzone-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.dropzone-text-container {
  flex-grow: 1;
}

.initial-text {
  font-size: 14px;
  line-height: 25.2px;

  &.primary {
    color: #495567;
    font-weight: 500;
  }

  &.secondary {
    color: #677489;
    font-weight: 400;
  }
}

.error-text-container {
  text-align: justify;
  flex-grow: 1;
}

.error-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #C64D32;
}

.try-again-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #3D485F;
}

.crop-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.crop-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  color: #677489;
  letter-spacing: -0.02em;
}

.crop-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: #B9D1FF;
  border-radius: 1px;
  background-image: linear-gradient(#3F80FF, #3F80FF);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.crop-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3F80FF;
  cursor: pointer;
}

.crop-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3F80FF;
  cursor: pointer;
}

.save-crop-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.save-crop-button {
  font-family: 'Inter';
  appearance: none;
  background: #3D485F;
  border-radius: 16px;
  padding: 2px 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  border: none;
}

.close-button-container {
  display: flex;
  height: 100%;
}